[user]
    email = mrpeteyb@gmail.com
    name = borfus
[core]
    editor = vim
    excludesfile = /home/borfus/.gitignore_global
[alias]
    co = checkout
    br = branch
    st = status
    dt = difftool
[diff]
  tool = vimdiff
[difftool]
  prompt = false
